# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [61]:
populationArray = np.random.randint(100,10000,size=3)

In [62]:
data = {'國家': ['C1','C2','C3'],
        '人口': populationArray  }
data = pd.DataFrame(data)

In [63]:
data

   國家    人口
0  C1  3265
1  C2  7872
2  C3  7204

## axis=0 直行去運算 axis=1 橫列去運算  詳細說明 https://itselementary993.wordpress.com/2017/05/26/%E9%97%9C%E6%96%BCpython-%E4%B8%AD-axis/

In [74]:
data [ data['人口']  ==  data['人口'].max(axis=0)]

   國家    人口
1  C2  7872